@font-face {
  font-family: TTLakesMedium;
  src: url(font/TTLakes-Medium.woff);
}
@font-face {
  font-family: TTLakesBold;
  src: url(font/TTLakes-Bold.woff);
}
* {
  box-sizing: border-box;
}
body,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.container {
  width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
}
.header__list {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
  padding: 18px 24px;
}
.button__inner {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item:nth-child(2) {
  flex-grow: 1;
}
.logo {
  width: 98px;
  height: 52px;
  display: flex;
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.nav__item {
  position: relative;
  padding-left: 24px;
}
.nav__link,
.footer__contacts-link,
.lang {
  font-family: TTLakesMedium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.nav__item:hover::before {
  content: "";
  width: 2px;
  height: 32px;
  border: 1px solid #41f6d7;
  background-color: #41f6d7;
  border-radius: 6px;
  position: absolute;
  top: -3px;
  left: 0px;
}
.nav__link:hover {
  transition: 0.5s;
  opacity: 0.5;
  color: #7e7e82;
}
.footer {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: flex-end;
}
.footer__list {
  display: flex;
  gap: 0 16px;
  margin: 16px 24px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
  margin-bottom: 40px;
  margin-left: 24px;
}
.lang {
  display: flex;
  gap: 0 7px;
  margin-bottom: 32px;
  margin-left: 24px;
}
.footer__contacts-link:last-child {
  font-family: TTLakesBold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.input {
  visibility: hidden;
  position: absolute;
}
.input:checked + .label {
  opacity: 0.5;
}
@media (max-height: 780px) {
  .header__list {
    margin-bottom: 0px;
  }
  .nav__list {
    gap: 24px;
  }
  .footer__contacts {
    margin-bottom: 8px;
  }
}
