@font-face {
  font-family: TTLakesRegular;
  src: url(font/TTLakes-Regular.woff);
}
@font-face {
  font-family: TTLakesMedium;
  src: url(font/TTLakes-Medium.woff);
}
body {
  margin: 0;
  background-color: #f8f8f8;
}
* {
  box-sizing: border-box;
}
h3 {
  margin: 0;
  font-weight: normal;
}
button {
  border: transparent;
  background-color: #f8f8f8;
  cursor: pointer;
}
a {
  color: #eaeaea;
}
.title {
  padding: 16px;
  font-family: TTLakesRegular;
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  margin-bottom: 16px;
}
.swiper::before {
  content: "";
  position: absolute;
  height: 72px;
  width: 24px;
  z-index: 2;
  right: 0;
  background: linear-gradient(
    to left,
    #f8f8f8 0.01%,
    rgba(248, 248, 248, 0.0001) 100%
  );
}
.swiper-wrapper {
  padding-left: 16px;
}
.swiper-slide {
  width: auto;
}
.slide-slide__inner {
  width: 240px;
  display: flex;
  background-color: #ffffff;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border: 1px solid;
  border-radius: 6px;
}
.swiper-pagination {
  position: static;
  padding-top: 16px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #dddddd;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.btn {
  display: none;
}
@media (min-width: 768px) {
  .title {
    padding-left: 24px;
    margin-bottom: 24px;
  }
  .swiper {
    margin-bottom: 24px;
  }
  .swiper::before {
    content: none;
  }
  .swiper-wrapper {
    padding-left: 0;
    gap: 16px 24px;
    flex-wrap: wrap;
    width: 720px;
    margin: 0 auto;
    max-height: 160px;
  }
  .swiper-wrapper-big {
    max-height: 336px;
  }
  .slide-slide__inner {
    width: 224px;
  }
  .swiper-pagination {
    display: none;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    font-family: TTLakesMedium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .btn__expand_deg {
    transform: rotate(180deg);
  }
  .btn__text-off {
    display: none;
  }
  .btn-off {
    display: block;
  }
  .btn-on {
    display: none;
  }
  .container {
    width: 720px;
    margin: 0 auto;
  }
}
@media (min-width: 1120px) {
  .title {
    padding-left: 32px;
  }
  .swiper-wrapper {
    gap: 16px 32px;
    width: 1056px;
  }
  .slide-slide__inner {
    width: 240px;
  }
  .container {
    width: 1056px;
  }
}
