* {
  box-sizing: border-box;
}
@font-face {
  font-family: TTLakesBold;
  src: url(font/TTLakes-Bold.woff);
}
@font-face {
  font-family: TTLakesMedium;
  src: url(font/TTLakes-Medium.woff);
}
@font-face {
  font-family: TTLakesRegular;
  src: url(font/TTLakes-Regular.woff);
}
body {
  background: #f8f8f8;
  margin: 0;
  min-width: 320px;
}
.navigation {
  display: flex;
  height: 88px;
  background-color: #fff;
  align-items: center;
  margin-bottom: 24px;
}
.navigation__burger {
  margin-left: 16px;
}
.navigation__divider--left {
  display: none;
}
.navigation__group {
  margin-left: 16px;
}
.navigation__right {
  display: flex;
  margin-left: auto;
}
.navigation__call {
  display: none;
}
.navigation__chat {
  display: none;
}
.navigation__profile {
  display: none;
}
.navigation__divider {
  margin-right: 16px;
  padding-top: 4px;
}
.navigation__repair {
  margin-right: 16px;
}
.navigation__checkstatus {
  margin-right: 16px;
}
.title {
  display: flex;
  margin-bottom: 24px;
}
.title__right {
  display: none;
}
.title__highlight {
  background: #41f6d7;
  border-radius: 2px;
  width: 4px;
}
.title__text {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-family: TTLakesBold;
  margin-left: 12px;
}

.slide::-webkit-scrollbar {
  display: none;
}
.slide {
  display: flex;
  overflow: scroll;
  margin-left: 16px;
  gap: 0 25px;
  margin-bottom: 24px;
}
.button {
  font-family: TTLakesRegular;
  letter-spacing: -0.2px;
  font-size: 16px;
  color: #7e7e82;
  border: none;
  background-color: #f8f8f8;
  padding: 0;
  border: 2px solid #f8f8f8;
}
.slide__button-brend {
  min-width: 210px;
  min-height: 35px;
}
.slide__button-brend:focus {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: #ffffff;
  border: 2px solid #b8ffec;
}
.slide__button-devisec {
  min-width: 240px;
  min-height: 35px;
}
.slide__button-devisec:focus {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.slide__button-price {
  min-width: 140px;
  min-height: 35px;
}
.slide__button-price:focus {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.slide__button-adress {
  min-width: 230px;
  min-height: 35px;
}
.slide__button-adress:focus {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.slide__button-service {
  min-width: 170px;
  min-height: 35px;
}
.slide__button-service:focus {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.slide__button-reviews {
  min-width: 90px;
  min-height: 35px;
}
.slide__button-reviews:focus {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.gradient {
  position: fixed;
  right: 0%;
  height: 35px;
  width: 20px;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
}
.block {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}
.block__up {
  display: flex;
  flex-wrap: wrap;
}
.block__text {
  margin: 0;
  margin-left: 16px;
  width: 288px;
  height: 90px;
  overflow: hidden;
  margin-bottom: 16px;
  font-family: TTLakesMedium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}
.block__readmore {
  display: flex;
  margin-left: 16px;
  margin-bottom: 16px;
  height: 24px;
  width: 132px;
}
.block__image {
  max-width: 320px;
  min-height: 230px;
}
.block__image--zoom {
  max-width: 100%;
}
.block__readmore--font {
  font-family: TTLakesMedium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-left: 8px;
  text-decoration: none;
  color: #1b1c21;
}
@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
  .navigation__burger {
    margin-left: 24px;
  }
  .navigation__divider--left {
    display: block;
    margin-left: 20px;
  }
  .navigation__group {
    margin-left: 20px;
  }

  .navigation__call {
    display: block;
    margin-right: 16px;
  }
  .navigation__chat {
    display: block;
    margin-right: 16px;
  }
  .navigation__profile {
    display: block;
    margin-right: 20px;
  }
  .navigation__checkstatus {
    margin-right: 24px;
  }
  .title {
    margin-bottom: 32px;
  }
  .title__text {
    margin-left: 20px;
  }
  .slide {
    margin-bottom: 32px;
    margin-left: 24px;
  }
  .block {
    display: flex;
    flex-wrap: nowrap;
    width: 743px;
  }
  .block__up {
    display: flex;
    flex-wrap: wrap;
    width: 336px;
  }
  .block__text {
    margin-left: 24px;
    width: 312px;
    height: 158px;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .block__readmore {
    margin-left: 24px;
    margin-top: -32px;
  }
  .block__image {
    max-width: 360px;
    min-height: 230px;
    margin-left: 48px;
  }
  .block__image--zoom {
    border-radius: 6px;
  }
}
@media (min-width: 1120px) {
  body {
    min-width: 1120px;
  }
  .navigation {
    display: none;
  }
  .title {
    display: flex;
    margin-top: 42px;
    margin-bottom: 8px;
  }
  .title__right {
    display: flex;
    margin-left: auto;
  }
  .title__repair-text {
    text-decoration: none;
    font-family: TTLakesRegular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    margin-right: 8px;
    margin-top: 8px;
  }
  .title__checkstatus-text {
    text-decoration: none;
    font-family: TTLakesRegular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    margin-right: 8px;
    margin-top: 8px;
  }
  .title__right-repair {
    margin-right: 32px;
  }
  .title__right-checkstatus {
    margin-right: 32px;
  }
  .slide {
    margin-bottom: 12px;
    width: 1088px;
    flex-wrap: wrap;
    margin-left: 32px;
    gap: 0 24px;
  }
  .slide__button-brend {
    margin-bottom: 4px;
  }
  .block {
    display: flex;
    flex-wrap: nowrap;
    width: 1092px;
  }
  .block__up {
    display: flex;
    flex-wrap: wrap;
    width: 524px;
  }
  .block__text {
    margin-left: 34px;
    width: 490px;
    height: 160px;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .block__readmore {
    margin-left: 24px;
    margin-top: -75px;
  }
  .block__image {
    max-width: 532px;
    min-height: 230px;
    margin-left: 36px;
  }
}
