* {
  box-sizing: border-box;
}
@font-face {
  font-family: TTLakesMedium;
  src: url(font/TTLakes-Medium.woff);
}
.header-button,
.section__button-text {
  font-family: TTLakesMedium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  cursor: pointer;
}
@font-face {
  font-family: TTLakesBold;
  src: url(font/TTLakes-Bold.woff);
}
@font-face {
  font-family: TTLakesRegular;
  src: url(font/TTLakes-Regular.woff);
}
body {
  margin: 0;
  background-color: #f8f8f8;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  min-width: 320px;
}
.header__list {
  margin: 0;
  height: 88px;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 24px;
  background-color: #ffffff;
}
.header__item:first-child,
.header__item:last-child {
  padding: 16px;
}
.header-button,
.header__button-desktop {
  background-color: #ff3e79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__button_hidden,
.header__button-text_hidden {
  display: none;
}
.header__item-logo {
  width: 96px;
  height: 50px;
  flex-grow: 1;
}
.header__item:nth-last-child(2)::before {
  content: "";
  height: 30px;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  background-color: #eaeaea;
  position: absolute;
  top: 28px;
  right: 130px;
}
.title {
  font-family: TTLakesBold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  margin-top: 0;
  padding-left: 16px;
  padding-bottom: 24px;
}
.title::before {
  content: "";
  border: 1px solid transparent;
  width: 2px;
  height: 38px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  background: #41f6d7;
}
.nav__list {
  display: flex;
  overflow: scroll;
  white-space: nowrap;
  gap: 10px 25px;
  padding-left: 32px;
  padding-bottom: 24px;
  margin: 0;
}
.nav__list::-webkit-scrollbar {
  display: none;
}
.nav__item {
  list-style-type: none;
  background-color: #f8f8f8;
  border: 2px solid transparent;
}
.nav__link {
  font-family: TTLakesRegular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  padding: 6px 12px;
  display: inline-block;
}
.nav__item:hover {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #ffffff;
}
.nav__list::before {
  content: "";
  position: absolute;
  right: 0%;
  width: 24px;
  height: 38px;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
}
.section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 0;
}
.section__text {
  width: 288px;
  height: 90px;
  overflow: hidden;
  margin-bottom: 16px;
}
.section__text-button {
  margin-left: 16px;
}
.section__image {
  width: 320px;
  height: 230px;
}
.section__img {
  max-width: 100%;
}
.section__paragraf {
  font-family: TTLakesRegular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-top: 0;
}
.section__button {
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__list {
    gap: 16px;
    padding: 24px;
  }
  .header__item:first-child,
  .header__item:last-child {
    margin: 0px;
    padding: 0;
  }
  .header__item:nth-child(1),
  .header__item:nth-last-child(3) {
    padding-right: 24px;
  }
  .header__button_hidden {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__item:first-child::after {
    content: "";
    height: 30px;
    border: 1px solid #eaeaea;
    border-radius: 1px;
    background-color: #eaeaea;
    position: absolute;
    top: 28px;
    left: 84px;
  }
  .header__item:nth-last-child(2)::before {
    right: 138px;
  }
  .title {
    padding-left: 24px;
    padding-bottom: 24px;
  }
  .section {
    gap: 16px 48px;
  }
  .section__text {
    width: 312px;
    height: 157px;
    margin-bottom: 10px;
  }
  .section__paragraf {
    line-height: 20px;
  }
  .section__text-button {
    margin-left: 24px;
  }
  .section__image {
    width: 360px;
    height: 260px;
  }
  .section__img {
    border-radius: 10px;
  }
}
@media (min-width: 1120px) {
  .container {
    width: 1120px;
  }
  .header__list {
    justify-content: flex-end;
    gap: 30px;
    padding-top: 42px;
    padding-right: 32px;
    margin-bottom: -55px;
    background-color: #f8f8f8;
  }
  .header__item:not(.header__item:nth-child(6), .header__item:nth-child(7)),
  .header__item-logo {
    display: none;
  }
  .header__item:nth-last-child(2)::before {
    content: none;
  }
  .header__button-text_hidden {
    display: block;
  }
  .header__item {
    white-space: nowrap;
  }
  .header-button {
    background-color: #f8f8f8;
    background-size: 0;
    width: 176px;
    border: 1px solid transparent;
    border-radius: 0;
    display: flex;
    gap: 0 8px;
    align-items: center;
    padding: 0;
    justify-content: flex-end;
  }
  .header__button-desktop {
    background-color: #ff3e79;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .title {
    padding-left: 32px;
    padding-bottom: 8px;
  }
  .title::before {
    left: auto;
    margin-left: -32px;
  }
  .nav__list {
    flex-wrap: wrap;
  }
  .nav__list::before {
    content: none;
  }
  .section {
    gap: 16px 36px;
  }
  .section__text {
    width: 490px;
    height: 160px;
    margin-bottom: 14px;
  }
  .section__text-button {
    margin-left: 34px;
  }
  .section__paragraf:last-child {
    margin-bottom: 0;
  }
  .section__image {
    width: 532px;
    height: 384px;
  }
}
